<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= link_to @user.name, edit_user_path(@user) %>
</p>

<p>
  	<strong>Email:</strong>
  	<%= @user.email %>
</p>

<p>
	<strong>Ralative Post:</strong>
<ul>
	<% Micropost.where(user_id: [@user.id]).each do |user_micro| %>
	<li>
		<%= link_to user_micro.content, user_micro %>
	</li>
	<% end %>
</ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
